doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 About Us
        br
        p mentorstudents.com is the most innovative and second largest online job portal in India. Founded in 2008, over the past decade, mentorstudents.com has become a prominent name in the recruitment industry. The popularity of the portal is evident from the fact that it has crossed the 3.4 crore candidate landmark and has more than 3 lakh latest job vacancies from leading companies on the site.

mentorstudents.com connects jobseekers and recruiters by accurately matching candidate profiles to the relevant job openings through an advanced 2-way matching technology. While most job portals only focus on getting candidates the next job, mentorstudents focuses on the entire career growth of candidates. To this end, mentorstudents has launched mentorstudents Learning- India’s largest career skills site for working professionals with over 500+ courses & certifications.

As the industry shifts towards mobile, mentorstudents.com is leading the transition and is the fastest growing job portal on mobile devices, witnessing a 100% YOY growth in mobile traffic and also offers on-the-go jobs through the mentorstudents Job Search App.

mentorstudents works closely to bridge the gap between talent & opportunities and offers end-to-end recruitment solutions. mentorstudents Job Fair brings candidates and top employers under one roof. While mentorstudents HR Conclave brings top HR leaders to share insights on latest trends, innovations & best practices in the HR industry. mentorstudents also has a large reach through its print product, mentorstudents Jobs – the Tuesday Job supplement of Hindustan Times– making it the only job portal with an integrated print and online offering
